
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoInvade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/media-queries.css" rel="stylesheet" type="text/css">  
</head>


<body>
<!-- Title page -->
<div id="big_container">
<header>
  <h1>GoInvade</h1>
  <p></p>
<image>
<p><img src="imag/startbutton.png" width="300" height="150" alt="Apple's logo over the years"></p>
</header>
<iframe width="560" height="720" id="bg" src="https://www.youtube.com/embed/rpWrtXyEAN0?modestbranding=1&autohide=1&showinfo=0&autoplay=1&amp;controls=0" frameborder="0" allowfullscreen></iframe>
</div> 

</section>

<section id= "history">
    <div class="container">
</section>


</script>
</body>
</html>
