<!DOCTYPE html>
<html>
<head>
	<title>InvadeIoT</title>
	 <script src="../static/js/jquery-1.7.1.min.js"></script>
    <script src="../static/js/jquery.mousewheel-min.js"></script>
    <script src="../static/js/jquery.terminal-src.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.terminal.css">
</head>
<body>

<script type="text/javascript">
var step1 = false;
$(function() {
    var anim = false;
    function typed(finish_typing) {
        return function(term, message, delay, finish) {
            anim = true;
            var prompt = term.get_prompt();
            var c = 0;
            if (message.length > 0) {
                term.set_prompt('');
                var interval = setInterval(function() {
                    term.insert(message[c++]);
                    if (c == message.length) {
                        clearInterval(interval);
                        // execute in next interval
                        setTimeout(function() {
                            // swap command with prompt
                            finish_typing(term, message, prompt);
                            anim = false
                            finish && finish();
                        }, delay);
                    }
                }, delay);
            }
        };
    }
    var typed_prompt = typed(function(term, message, prompt) {
        // swap command with prompt
        term.set_command('');
        term.set_prompt(message + ' ');
    });
    var typed_message = typed(function(term, message, prompt) {
        term.set_command('');
        term.echo(message)
        term.set_prompt(prompt);
    });

    
    $('body').terminal(function(cmd, term) {
        var finish = false;
        term.set_prompt('> ');
        var args = {command: cmd};
        var help = "wget <url>\nsendmail <email>\nhint"
        if (cmd.toString()=='hint' && step1==false){
            term.echo(useColor('white',"Evilcorp's url might be http://www.evilcorp.com"));
        }
        else if (cmd.toString()=='hint' && step1==true){
            term.echo(useColor('white',"Bobs email might be bob@evilcorp.com"));
        }
        else if(cmd.toString() == 'help'){
            term.echo(useColor('white', help));
        }
        else if(cmd.toString() == 'wget http://www.evilcorp.com'){
            step1=true;
            term.echo(useColor('white',"Cloned http://www.evilcorp.com"));
            typed_message(term, "Now I need to email an unsuspecting low-level executive the link. Once they fall for my trap and log into the website, their account will be mine! Hmm maybe I can email that duche bag Bob he might still be working at that dump" , 50, function() {
            });
        }
        else if (cmd.toString()=='sendmail bob@evilcorp.com' && step1==true){
            term.echo(useColor('white',"Email sent to bob@evilcorp.com"));
             typed_message(term, "" , 50, function() {
            });
        }
        else {
            term.echo(useColor('red',"invalid"))
        }
    }, {
        name: 'xxx',
        greetings: null,
        width: 500,
        height: 300,
        onInit: function(term) {
            // first question
            var msg = "Evil Corp's destruction will begin with conning one of their incompetent executives into sharing their administrative log-in credentials with me. A classic phishing scam should do the trick! First, I need to replicate Evil Corp's database log-in site. \n for help use type help";
            typed_message(term, msg, 30, function() {
            });
        },
        keydown: function(e) {
            //disable keyboard when animating
            if (anim) {
                return false;
            }
        }
    });
});


function useColor(color, text){
    var string;
    switch(color){
        case 'red': string = "\033[0;31m" + text + "\033[0m";
            break;
        case 'green': string = "\033[0;32m" + text + "\033[0m";
            break;
        case 'white': string = "\033[1;37m" + text + "\033[0m";
            break;
        default:
            break;
    }

    return string;
}
	
</script>

</body>
</html>