<!DOCTYPE html>
<html>
<head>
	<title>Invade - Level 3</title>
	 <script src="../static/js/jquery-1.7.1.min.js"></script>
    <script src="../static/js/jquery.mousewheel-min.js"></script>
    <script src="../static/js/jquery.terminal-src.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.terminal.css">
</head>
<body>

<script type="text/javascript">
var files=["/bin", "/etc", "config", "logs", "sys32"];
$(function() {
    var anim = false;
    function typed(finish_typing) {
        return function(term, message, delay, finish) {
            anim = true;
            var prompt = term.get_prompt();
            var c = 0;
            if (message.length > 0) {
                term.set_prompt('');
                var interval = setInterval(function() {
                    term.insert(message[c++]);
                    if (c == message.length) {
                        clearInterval(interval);
                        // execute in next interval
                        setTimeout(function() {
                            // swap command with prompt
                            finish_typing(term, message, prompt);
                            anim = false
                            finish && finish();
                        }, delay);
                    }
                }, delay);
            }
        };
    }
    var typed_prompt = typed(function(term, message, prompt) {
        // swap command with prompt
        term.set_command('');
        term.set_prompt(message + ' ');
    });
    var typed_message = typed(function(term, message, prompt) {
        term.set_command('');
        term.echo(message)
        term.set_prompt(prompt);
    });

    
       $('body').terminal(function(cmd, term) {
        var finish = false;
        term.set_prompt('> ');
        var args = {command: cmd};
        if(cmd.toString()=='help'){
            term.echo(useColor('white', "rm <file>\nls"));
        }
        
        else if(cmd.toString()=='rm logs'){
            var index = files.indexOf("logs");
            files.splice(index,1);
            term.echo(useColor('white', "logs removed"));
              typed_message(term, "Congratulations! you won! " , 50, function() {
                setTimeout(function() {
                    window.location.href="{{ url_for('index') }}";
                }, 5000);
            });
        }

        else if(cmd.toString()=='rm config'){
            var index = files.indexOf("config");
            files.splice(index,1);
            term.echo(useColor('white', "config removed"));
        }

        else if(cmd.toString()=='rm /bin'){
            var index = files.indexOf("/bin");
            files.splice(index,1);
            term.echo(useColor('white', "/bin removed"));
        }

        else if(cmd.toString()=='rm /etc'){
            var index = files.indexOf("/etc");
            files.splice(index,1);
            term.echo(useColor('white', "/etc removed"));
        }

        else if(cmd.toString()=='rm sys32'){
            var index = files.indexOf("sys32");
            files.splice(index,1);
            term.echo(useColor('red', "honeypot:1339:ERROR.UNAUTHORIZED PRESENCE DETECTED.DETAILS REPORTED:end"));
            typed_message(term, "got you on camera you dead! the game will restart shortly" , 50, function() {
                setTimeout(function() {
                    window.location.href="{{ url_for('index') }}";
                }, 5000);
            });

        }

        else if(cmd.toString()=='ls'){
            for(i=0; i<files.length; i++){
                term.echo(useColor('white', files[i]));
            }
        }

        else{
            term.echo(useColor('red', "invalid"));
        }


    }, {
        name: 'xxx',
        greetings: null,
        onInit: function(term) {
            // first question
            var msg = "LEVEL 3: Log Out\n\nI’ll delete the logs and they’ll never know I was here.\nThe hardest part is over, it’s smooth sailing from here on out. All that’s left to do is dot my I’s and cross my T’s.\nI need to delete anything that could alert Evil Corp that I’m the mastermind behind setting their customers free of debt.\nHmmmm maybe I should delete sys32. That would ensure they never found me.\n";
            typed_message(term, msg, 30, function() {
            });
        },
        keydown: function(e) {
            //disable keyboard when animating
            if (anim) {
                return false;
            }
        }
    });
});
	
function useColor(color, text){
    var string;
    switch(color){
        case 'red': string = "\033[0;31m" + text + "\033[0m";
            break;
        case 'green': string = "\033[0;32m" + text + "\033[0m";
            break;
        case 'white': string = "\033[1;37m" + text + "\033[0m";
            break;
        default:
            break;
    }

    return string;
}

</script>

</body>
</html>