<!DOCTYPE html>
<html>
<head>
	<title>InvadeIoT</title>
	 <script src="../static/js/jquery-1.7.1.min.js"></script>
    <script src="../static/js/jquery.mousewheel-min.js"></script>
    <script src="../static/js/jquery.terminal-src.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.terminal.css">
</head>
<body>

<script type="text/javascript">
var files=["/bin", "/etc", "logs", "config"];
$(function() {
    var anim = false;
    function typed(finish_typing) {
        return function(term, message, delay, finish) {
            anim = true;
            var prompt = term.get_prompt();
            var c = 0;
            if (message.length > 0) {
                term.set_prompt('');
                var interval = setInterval(function() {
                    term.insert(message[c++]);
                    if (c == message.length) {
                        clearInterval(interval);
                        // execute in next interval
                        setTimeout(function() {
                            // swap command with prompt
                            finish_typing(term, message, prompt);
                            anim = false
                            finish && finish();
                        }, delay);
                    }
                }, delay);
            }
        };
    }
    var typed_prompt = typed(function(term, message, prompt) {
        // swap command with prompt
        term.set_command('');
        term.set_prompt(message + ' ');
    });
    var typed_message = typed(function(term, message, prompt) {
        term.set_command('');
        term.echo(message)
        term.set_prompt(prompt);
    });

    
       $('body').terminal(function(cmd, term) {
        var finish = false;
        term.set_prompt('> ');
        var args = {command: cmd};
        if(cmd.toString()=='help'){
            term.echo(useColor('white', "rm <file>\nls"));
        }
        
        else if(cmd.toString()=='rm logs'){
            var index = files.indexOf("logs");
            files.splice(index,1);
            term.echo(useColor('white', "logs removed"));
        }

        else if(cmd.toString()=='rm config'){
            var index = files.indexOf("config");
            files.splice(index,1);
            term.echo(useColor('white', "config removed"));
        }

        else if(cmd.toString()=='rm /bin'){
            var index = files.indexOf("/bin");
            files.splice(index,1);
            term.echo(useColor('white', "/bin removed"));
        }

        else if(cmd.toString()=='rm /etc'){
            var index = files.indexOf("/etc");
            files.splice(index,1);
            term.echo(useColor('white', "/etc removed"));
        }

        else if(cmd.toString()=='ls'){
            for(i=0; i<files.length; i++){
                term.echo(useColor('white', files[i]));
            }
        }

        else{
            term.echo(useColor('red', "invalid"));
        }


    }, {
        name: 'xxx',
        greetings: null,
        onInit: function(term) {
            // first question
            var msg = "Evil Corp's destruction will begin with conning one of their incompetent executives into sharing their administrative log-in credentials with me. A classic phishing scam should do the trick! First, I need to replicate Evil Corp's database log-in site. \n for help use type help";
            typed_message(term, msg, 30, function() {
            });
        },
        keydown: function(e) {
            //disable keyboard when animating
            if (anim) {
                return false;
            }
        }
    });
});
	
function useColor(color, text){
    var string;
    switch(color){
        case 'red': string = "\033[0;31m" + text + "\033[0m";
            break;
        case 'green': string = "\033[0;32m" + text + "\033[0m";
            break;
        case 'white': string = "\033[1;37m" + text + "\033[0m";
            break;
        default:
            break;
    }

    return string;
}

</script>

</body>
</html>