<!DOCTYPE html>
<html>
<head>
	<title>InvadeIoT</title>
	 <script src="../static/js/jquery-1.7.1.min.js"></script>
    <script src="../static/js/jquery.mousewheel-min.js"></script>
    <script src="../static/js/jquery.terminal-src.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.terminal.css">
</head>
<body>

<script type="text/javascript">
$(function() {
    var anim = false;
    var hint_count = 0;
    function typed(finish_typing) {
        return function(term, message, delay, finish) {
            anim = true;
            var prompt = term.get_prompt();
            var c = 0;
            if (message.length > 0) {
                term.set_prompt('');
                var interval = setInterval(function() {
                    term.insert(message[c++]);
                    if (c == message.length) {
                        clearInterval(interval);
                        // execute in next interval
                        setTimeout(function() {
                            // swap command with prompt
                            finish_typing(term, message, prompt);
                            anim = false
                            finish && finish();
                        }, delay);
                    }
                }, delay);
            }
        };
    }
    var typed_prompt = typed(function(term, message, prompt) {
        // swap command with prompt
        term.set_command('');
        term.set_prompt(message + ' ');
    });
    var typed_message = typed(function(term, message, prompt) {
        term.set_command('');
        term.echo(message)
        term.set_prompt(prompt);
    });

    
    $('body').terminal(function(cmd, term) {
        var finish = false;
        term.set_prompt('> ');
        var args = {command: cmd};
        var commands = ["help", "hint", "inject"]

        if(cmd == commands[0]) {
            term.echo("hint \ninject <SQL code>");
        } else if (cmd == commands[1]) {
            if (hint_count == 0) {
                term.echo("http://xkcd.com/327");
                term.echo("http://bobby-tables.com")
            } else if (hint_count == 1) {
                term.echo("http://bfy.tw/1ztw");
            } else if (hint_count == 2) {
                var msg = "\nDROP ALL TABLES is the SQL code to all the tables, but I need to inject it into the code.\n"
                typed_message(term, msg, 30, function() {
                });
            } else if (hint_count == 3) {
                var msg = "\nTo inject it, I need a semicolon before the statement to end the previous statement.\nThen, I need to comment out the code after my injection. \n"
                typed_message(term, msg, 30, function() {
                });
            } else {
               var msg = "\nI know! ; DROP ALL TABLES;--\n"
               typed_message(term, msg, 30, function() {
                }); 
            }

            hint_count += 1;
        } else if (cmd.split(" ")[0] == commands[2]) {
            arg = cmd.substr(cmd.indexOf(" ") + 1);
            console.log()
            var injection_re = new RegExp("(.*?);\\s*DROP\\s*ALL\\s*TABLES\\s*;\\s*--", 'i')
            if (injection_re.test(arg)) {
                term.echo(useColor('white',"Dropping all tables for the EvilCorp database."));
                typed_message(term, "\nI knew this would be easy." , 50, function() {
                setTimeout(function() {
                    window.location.href="{{ url_for('level_three') }}";
                }, 3000);
            });
            } else {
                term.echo(useColor('white', "Exploit failed. Try again."));
            }

        } else {
            term.echo(useColor('red', "invalid"));
        }

    }, {
        name: 'xxx',
        greetings: null,
        onInit: function(term) {
            // first question
            var msg = "LEVEL 2: DROP ALL the Bombs\n\nNow that I have that idiot's administrative credentials, I can really start doing some damage. \nHmmm it looks like the leaders of Evil Corp are dumber than I originally thought. This website doesn’t sanitize their input. \nLooks like all I have to do is create an SQL injection to drop all the tables in the database and erase the debt of all of Evil Corp’s innocent victims. \nEvil Corp is making this too easy for me. It’s like taking candy from a baby.\n"
            typed_message(term, msg, 30, function() {
            });

        },

        keydown: function(e) {
            //disable keyboard when animating
            if (anim) {
                return false;
            }
        }
    });
});

function useColor(color, text){
    var string;
    switch(color){
        case 'red': string = "\033[0;31m" + text + "\033[0m";
            break;
        case 'green': string = "\033[0;32m" + text + "\033[0m";
            break;
        case 'white': string = "\033[1;37m" + text + "\033[0m";
            break;
        default:
            break;
    }

    return string;
}

</script>

</body>
</html>